.inputContainer {
  &:has(input[type="radio"]){
    display: flex;
    gap: 8px;
    padding: 1rem;
    border: 2px solid var(--clr-ntr-400);
    border-radius: 8px;
    width: fit-content;
    transition: all .3s;
    &:hover{
      border: 2px solid var(--clr-prime-100);
    }
  }
  label {
    display: block;
    font-size: 12px;
    letter-spacing: -0.21px;
    font-weight: bold;
    color: var(--clr-ntr-100);
  }
  input {
    padding: 1rem;
    border: 2px solid var(--clr-ntr-400);
    border-radius: 8px;
    transition: all .3s;
    &:hover{
      border-color: var(--clr-prime-100);
    }
    &::placeholder {
      color: var(--clr-ntr-100);
      opacity: 0.4;
    }
    &:active, &:focus, &:focus-visible, &:focus-within{
      border-color: var(--clr-prime-100);
      outline: unset;
    }
    &:required:invalid:focus-visible{
      border-color: var(--clr-error-100);
    }
  }
}
