.inputContainer {
  label {
    display: block;
    font-size: 12px;
    letter-spacing: -0.21px;
    font-weight: bold;
    color: var(--clr-ntr-100);
    margin-block-end: 8px;
  }
  input {
    padding: 1rem;
    border: 2px solid var(--clr-ntr-300);
    border-radius: 8px;
    &::placeholder {
      color: var(--clr-ntr-100);
      opacity: 0.4;
    }
  }
}
